.contain{
    overflow-x: hidden;
    width: 100%;
    ;
}
.endMessage{
    font-size: 15px;
    text-align: center;
    color: black;
}
.header{
    height:60px;
    margin-bottom: 1em;
    position: fixed;
    z-index: 1000;
}
.menu{
    opacity:20%;
    width:70px;
}
.search-results {
    height: 100%;
}
.space{
    flex:1 1 auto;
}
.non-scroll{
    overflow-y: hidden;
    height: 500px;
    display:none;
    position:fixed;
    z-index: 1000;
}


.filter{
    background-color: white; 
    position:fixed;
    width:24%;
    z-index: 300;
    height: 100%;
}
.scrollable{
    widows: 50%;
    height:500px;
}
.feed{
    margin-right: 2%;
    background-color: white;
    z-index: 200;
}
.postButton{
    width:100%;
    height:55px;
    margin-bottom:1%;
    font-size: 25px;
    /* background-color: #5867b9; */
}