<h2 mat-dialog-title>Forget Password?</h2>
<mat-dialog-content class="mat-typography">

    <div class="form-group" *ngIf="isSubmit">

        <mat-form-field style="width:65%;" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput name= "username" [formControl]="forgetPasswordForm.controls.email" 
                   placeholder="Ex. pat@example.com">
            
            <mat-error *ngIf="forgetPasswordForm.controls.email.hasError('email') && !forgetPasswordForm.controls.email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="forgetPasswordForm.controls.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-hint style="color: red;">{{error}}</mat-hint>
          </mat-form-field>
    </div>

    <div *ngIf="!isSubmit">
      <h3>The Reset Link has been sent to registered E-Mail ID.</h3>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end" >
  <button mat-button (click)="onSubmit()" *ngIf="isSubmit"  >
     Submit
  </button>

  <button mat-button mat-dialog-close (click)="onOk()" *ngIf="!isSubmit" >
    Ok
 </button>
</mat-dialog-actions>
