.spacing {
    flex: 1 1 auto;
}

a {
    color: aqua;
    margin: 0 auto; 
    width: 100px; 
    clear: both; 
    display: block;
}

body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 0px;
    margin: 0px;
  }
  
  .left {
    left: 0;
    background-color:black;
    color :whitesmoke;
    margin: 0px;
    opacity: 0.96;
  }
  
  .right {
    right: 0;
    background-color: whitesmoke;
    margin: 0px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .right img{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .left img{
    height: 100%;
    width: 100%;
    margin: 0px;
  }

  h1{
    font-size: 30px;
  }

  button{
    background-color: lightskyblue;
    color : black;
    margin-right: 10px;
  }