.spacing {
    flex: 1 1 auto;
}

a {
    color: aqua;
    margin: 0 auto; 
    width: 100px; 
    clear: both; 
    display: block;
}

body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 0px;
    margin: 0px;
  }
  
  .left {
    left: 0;
    margin: 0px;
  
  }
  
  .right {
    right: 0;
    background-color: whitesmoke;
    margin: 0px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .right img{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .left img{
    height: 100%;
    width: 100%;
    margin: 0px;
  }

  h1{
    font-size: 30px;
  }

  button{
    background-color: lightskyblue;
    color : black;
    margin-right: 10px;
  }

  /* .description{
   
   
    font-size: 50px;
    line-height: 60px;
  background: -webkit-linear-gradient(#f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
  } */

  .description{
    /* background-image:linear-gradient(to right, gray, rgb(238, 236, 236)); */
    font-family: 'calibri';
    font-size: 5vw;
    line-height: 60px;
    font-weight: bold;
    width: 70%;
    -webkit-text-stroke: 1px black;
  
    background: -webkit-linear-gradient(50deg,#d4c15f , #936da5,#58482e) ;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
    /* animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: shine;
    -webkit-tap-highlight-color: rgba(0,0,0,0); */
    
  }