.spacing {
    flex: 1 1 auto;
}

a {
    color: aqua;
    margin: 0 auto; 
    width: 100px; 
    clear: both; 
    display: block;
}

/* body {
    font-family: Arial;
    color: white;
  } */
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 0px;
    margin: 0px;
  }

  .splitOne {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 0px;
    margin: 0px;
  }
  
  .left {
    left: 0;
    margin: 0px;
  
  }
  
  .right {
    right: 0;
    background-color: whitesmoke;
    margin: 0px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .right img{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  h1{
    font-size: 30px;
  }

  button{
    background-color: lightskyblue;
    color : black;
    margin-right: 10px;
  }

  .description {
    
    line-height: 60px;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #313131;
    font-size: 37px;
    font-weight: bold;
    position: absolute;
    -webkit-animation: color-change 5s infinite;
    -moz-animation: color-change 5s infinite;
    -o-animation: color-change 5s infinite;
    -ms-animation: color-change 5s infinite;
    animation: color-change 5s infinite;
    background : 1px solid black;
  }

  @-webkit-keyframes color-change {
    0% { color: rgb(7, 86, 71)}
    50% { color: rgb(193, 104, 32) }
    100% { color: rgb(92, 30, 184) }
  }
  @-moz-keyframes color-change {
    0% { color: rgb(7, 86, 71)}
    50% { color: rgb(193, 104, 32) }
    100% { color: rgb(92, 30, 184) }
  }
  @-ms-keyframes color-change {
    0% { color:rgb(7, 86, 71)}
    50% { color: rgb(193, 104, 32) }
    100% { color: rgb(92, 30, 184) }
  }
  @-o-keyframes color-change {
    0% { color:rgb(7, 86, 71)}
    50% { color: rgb(193, 104, 32) }
    100% { color: rgb(92, 30, 184) }
  }
  @keyframes color-change {
    0% { color: rgb(7, 86, 71)}
    50% { color: rgb(193, 104, 32) }
    100% { color: rgb(92, 30, 184) }
  }

  