<div >
    <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="https://www.soprabanking.com/"><img src="assets/img/LOGO.png" alt="title logo" style="height: 40px;width:auto;"></a>
      <span class="spacing"></span>
      <button mat-button (click)="islogin= true" (click)="isregister=false"><span>Login</span></button>
      <button mat-button (click)="islogin= false" (click)="isregister=true"><span>Register</span></button>
    </mat-toolbar-row>
    </mat-toolbar>
  
    <div class="container-fluid" >
      <div class="split left" style="background-image:linear-gradient(to right, gray, rgb(238, 236, 236));">
        <div class="centered">
          <h1 style="font-size: 50px;line-height: 60px;"><i>Process Improvement Proposal System</i></h1>
          <h3></h3>
        </div>
      </div>
      
      <div class="split right" style="background-color:lightgray;" >
        <img src = "assets/img/background.jpg"  >
        <app-login *ngIf="islogin"></app-login>
        <app-register *ngIf="isregister"></app-register>
       <!--<img src = "assets/img/right.jpg"> -->
        <!--<div [style.background-image]="'url(assets/img/left.jpg)'"></div>-->
        <div class="centered">
          <h2></h2>
        </div>
    </div>
  </div> 

<!--
<app-form></app-form>
<app-results *ngIf="isOn"></app-results>
<app-contact-primary *ngIf="!isOn"></<app-contact-primary>
<app-contact-second *ngIf="!isOn"></app-contact-second>
<button pButton label="Contact" (click)="isOn= false">Contact</button>
<button pButton label="Results" (click)="isOn= true">Results</button
-->