<div style="height:100%;">
  <div>
    <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="https://www.soprabanking.com/"><img src="assets/img/LogoBgR.png" alt="title logo" style="height: 40px;width:auto;"></a>
      <span class="spacing"></span>
      <button mat-button (click)="islogin= true" (click)="isregister=false"><span>Login</span></button>
      <button mat-button (click)="islogin= false" (click)="isregister=true"><span>Register</span></button>
    </mat-toolbar-row>
    </mat-toolbar>
  </div>
  
  
    <div class="container-fluid"[class.d-none]="!this.show" >
      <div class="split left" style="background-image:linear-gradient(to right, gray, rgb(238, 236, 236));" >
        <div >
          <h1 class="description centered "><i>Process Improvement Proposal System</i></h1>
        </div>
      </div>
      
      <div class="split right" style="background-color:lightgray;" >
        <img src = "assets/img/background.jpg"  >
        <app-login *ngIf="islogin"></app-login>
        <app-register *ngIf="isregister"></app-register>
        
      </div>
    </div>

    <div class="splitOne" style="background-image:linear-gradient(to right, gray, rgb(238, 236, 236));" *ngIf="!this.show">
      
        <h1 class="description centered"><i>Process Improvement Proposal System</i></h1>
        
          <app-login *ngIf="islogin"></app-login>
        <app-register *ngIf="isregister"></app-register>
         
      
    </div> 
    
  </div>
