<div>
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <a href="https://www.soprabanking.com/"><img src="assets/img/LOGO.png" alt="title logo" style="height: 40px;width:auto;"></a>
          <span class="spacing"></span>
        </mat-toolbar-row>
        </mat-toolbar>
</div>

<div class="container" *ngIf="validToken">
    <form [formGroup]="resetLinkForm" (ngSubmit)="onSubmit()" >
      <mat-grid-list cols="5"  rowHeight="90px">
        <mat-grid-tile colspan="4" >
            <mat-form-field style="width:65%;">
                <mat-label>New Password:</mat-label>
                <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password" required />
                <mat-icon matSuffix (click)="hide = !hide" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="resetLinkForm.controls.password.hasError('required')">Please enter a value</mat-error>
                <mat-error *ngIf="resetLinkForm.controls.password.hasError('pattern')">Invalid password!</mat-error>
                <mat-error *ngIf="resetLinkForm.controls.password.hasError('maxlength')">Too long</mat-error>
                
              </mat-form-field>
              
        </mat-grid-tile>
        <mat-grid-tile colspan="1" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openDialog()">info</mat-icon>
        </mat-grid-tile>
        
        <mat-grid-tile colspan="4" >
            <mat-form-field style="width:65%;">
                <mat-label>Confirm Password:</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="confirmPassword" required/>
                       <mat-icon matSuffix (click)="hide1 = !hide1" >{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                
                       <mat-error *ngIf="resetLinkForm.controls.confirmPassword.hasError('required')">Please enter a value</mat-error>
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" ></mat-grid-tile>
        <mat-grid-tile colspan="5" >
        <button mat-raised-button color="primary" class="btn btn-primary"  >Submit</button>
        </mat-grid-tile>
     </mat-grid-list>  
  </form>
</div>

<div class="invalidToken" *ngIf="!validToken">
<h1> This is an invalid Token, Please request another reset link.</h1>
</div>

</div>
