<div>
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <a href="https://www.soprabanking.com/"><img src="assets/img/LOGO.png" alt="title logo" style="height: 40px;width:auto;"></a>
          <span class="spacing"></span>
        </mat-toolbar-row>
        </mat-toolbar>
</div>

<div class="container">
    <form [formGroup]="resetLinkForm" (ngSubmit)="onSubmit()" novalidate>
	    
    
        <div class="form-group" >
            <mat-form-field style="width:65%;">
                <mat-label>Password</mat-label>
                <input type="password" matInput name="password" [formControl]="resetLinkForm.controls.password"
                       placeholder="">
               
                <!-- <mat-error *ngIf="loginForm.controls.password.hasError('password') && !loginForm.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error> -->
                <mat-error *ngIf="resetLinkForm.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </div>
        
        <div class="form-group" >
            <mat-form-field style="width:65%;">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput name="confirmPassword" [formControl]="resetLinkForm.controls.confirmPassword" 
                       placeholder="">
                
                <!-- <mat-error *ngIf="loginForm.controls.password.hasError('password') && !loginForm.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error> -->
                <mat-error *ngIf="resetLinkForm.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </div>
        <br>
        <button mat-raised-button color="primary" class="btn btn-primary" [disabled]="!resetLinkForm.valid" >Submit</button>
        
       
  </form>
</div>
</div>
