
<div class="container">
  <b><h1 class="text-center">Hi,there Stranger! </h1></b>
	<form [formGroup]="loginForm" (ngSubmit)="handleLogin()" novalidate>
	    <div class="form-group">

            <mat-form-field style="width:65%;">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="loginForm.controls.email" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-hint>Ex: pat@example.com</mat-hint>
                <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </div>
    
        <div class="form-group" >
            <mat-form-field style="width:65%;">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="loginForm.controls.password" [errorStateMatcher]="matcher"
                       placeholder="">
                <mat-hint>Ex: qwerty</mat-hint>
                <!-- <mat-error *ngIf="loginForm.controls.password.hasError('password') && !loginForm.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error> -->
                <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="btn btn-primary" [disabled]="!loginForm.valid" >Log In</button>
        <br>
        <small *ngIf = 'invalidLogin' style="color:red;">{{errorMessage}}</small>
  </form>
  <div>
    <button mat-button color="primary" (click)="openDialog()">Forgot Password?</button>
  </div>
</div>


