p {
    font-family: Lato;
  }

.container {
  padding-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    width: 75%;
    -webkit-transform: translate(-50%, -50%);
    background: whitesmoke;
    border-radius: 10px;
  }