
<div class="container">
  <b><h1 class="text-center">Welcome! </h1></b>
	<form [formGroup]="loginForm" (ngSubmit)="handleLogin()" novalidate>
	    <div >

            <mat-form-field style="width:65%;">
                <mat-label>Email</mat-label>
                <input matInput name= "username" [formControl]="loginForm.controls.email" 
                       placeholder="Ex. pat@example.com">
               
                <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </div>
    
        <div  >
            <mat-form-field style="width:65%;">
                <mat-label>Password</mat-label>
                <input type="password" matInput name="password" [formControl]="loginForm.controls.password" 
                       placeholder="">
                <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                
              </mat-form-field>
              
                
        </div>
        <div>
        <button mat-raised-button color="primary" class="btn btn-primary" [disabled]="!loginForm.valid" style="margin-right: 15px; ">Log In</button>
        </div>
        
        
        <small *ngIf = 'invalidLogin' style="color:red;">{{errorMessage}}</small>
        <div style = "vertical-align: baseline;">
          <button mat-button color="primary" (click)="openDialog()">Reset Password?</button>
       
        </div>
  </form>
  <mat-divider style="width: 40%; display: inline-block;"></mat-divider>
<span style="padding: 10px; font-weight: 50;font-size: 10px;">Or</span>
<mat-divider style="width: 40%; display: inline-block;"></mat-divider>
<br>
<br>
<div>
  <button mat-raised-button  (click)="googleSignIn()"  style="border-radius: 30px;">
    <img src="assets/img/GoogleLogo.png" alt="title logo" style="height: 15px;width:auto; padding-right: 5px;">
    Sign In With Google</button>
    </div>
  <br>
</div>


