<div style="padding-left: 1%;padding-right: 1%;">
    <mat-expansion-panel class="post" hideToggle>
        <mat-expansion-panel-header class="header">
            <mat-panel-title class="userBlock">
                {{post.user.name}}
            </mat-panel-title>
            <mat-panel-description class="title">
                {{post.title}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div class="text">{{post.description}}</div>
    </mat-expansion-panel>
    <section>
        <button mat-icon-button [class.text-danger]="this.hasLiked" class="likeButton" (click)="postLike(post.id)">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button  class="share likeButton" (click)="openDialogshare()">
            <mat-icon>share</mat-icon>
        </button>
        <p style="display:inline">{{this.numberLikes}} people upvoted this</p>
        <div class="buttonContainer" [class.d-none]="!this.canUpdate">
            <button [class.d-none]="!this.canUpdate" mat-mini-fab style="width: 35px;height:35px;" color="primary" (click)="openDialog(post)">
                <mat-icon style="font-size: 20px;">create</mat-icon>
            </button>
            <button class="delete" mat-mini-fab color="primary" (click)="delProposal()"  style="margin-left:1%; height:35px;width:35px;">
                <mat-icon style="font-size: 20px;">delete</mat-icon>
            </button>
        </div>        
    </section>
    
    <form >
        <mat-form-field class="commentBoxLength">
            <mat-label>Write a comment...</mat-label>
            <input type="text" matInput name="comment" [(ngModel)]="new_comment" >
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" style="height:35px;float:right" (click)="postComment(post.id)">Comment</button>
    </form>

    <!-- <div style="margin:2px auto; border-top: 1px lightgray solid;padding-top: 1%;">{{this.commentsMessage}}</div> -->
    <button mat-stroked-button color=primary  (click)="this.commentVisibility?this.commentVisibility=false:this.commentVisibility=true"  >
        <mat-icon>chat_bubble_outline</mat-icon>
        View Comments
    </button>
    <p [class.d-none]="!this.commentVisibility">{{this.commentsMessage}}</p>
    <div class="comments" [class.d-none]="!this.commentVisibility" *ngIf="this.noComments" [style.height.px]="height" >
        <div class="commentText row"  *ngFor="let comment of this.comments" >
            <div class="col-md-12">
                <app-comment class="com" *ngIf="this.commentVisibility" [comment]="comment" [userId]="userId" (parentFunction)="onDelete($event)"></app-comment>
            </div>
        </div>

    </div>
</div>
