.formContainer{
  
    
    /* font-size: 50%; */
    font-style: sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    padding: 10px;
    width: 75%;
    height: 80%;
    
}



/* label{
    margin-top: 20%;
    width : 400%;
} */

/* .x {
    display: grid;
    grid-template-columns: 1fr 3fr 0.125fr;
    grid-gap: 75px;
    text-align: left;
    line-height: 10px;
    margin-bottom: 10px;
    width: 100%;
  } */

  
  
   /* input {
    /* margin-bottom: 30px; */
   
    /* text-align : right; */
    /* height: 100%;   */
     /* flex: 0 0 200px; */
    /* width: 100%; */
   /* } */ 
  

  /* mat-form-field{ */
    /* width: 75%; */
    /* margin-left : 20%; */
  /* } */

  