.formContainer{
  /* font-size: 50%; */
  font-style: sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
  padding: 10px;
  width: 75%;
  height: 70%;
  border-radius: 10px;
  margin-top:10px; 
  
}



  